<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnMate - FAQ</title>
    <link rel="stylesheet" href="/static/style_faq.css">
</head>
<body>
    <!-- Меню -->
    <nav class="menu">
        <ul>
            <li><a href="/">Чат с ИИ</a></li>
            <li><a href="/generate_image">Генерация изображений</a></li>
            <li><a href="/FAQ">F.A.Q</a></li>
            <li><a href="/about">О Нас</a></li>
        </ul>
    </nav>

    <div class="faq">
        <div class="faq-item">
            <h2>Как пользоваться Чатом с ИИ?</h2>
            <p>Чтобы использовать Чат с ИИ, следуйте этим шагам:</p>
            <ol>
                <li>Введите запрос в текстовое поле.</li>
                <li>Убедитесь, что запрос правильно структурирован. Укажите язык, на котором написан код (например, Python, JavaScript и т.д.).</li>
                <li>Нажмите кнопку "Отправить".</li>
                <li>Подождите, пока ИИ обработает запрос и предоставит ответ.</li>
                <li>Если в ответе есть блоки кода, вы можете скопировать их для дальнейшего использования, нажав на кнопку.</li>
            </ol>
        </div>

        <div class="faq-item">
            <h2>Как генерировать изображения с помощью ИИ?</h2>
            <p>Чтобы создать изображение, выполните следующие шаги:</p>
            <ol>
                <li>Введите запрос на английском языке, описывающий изображение, которое вы хотите получить.</li>
                <li>Нажмите кнопку "Генерация".</li>
                <li>Подождите, пока ИИ сгенерирует изображение.</li>
            </ol>
        </div>
        <div class="message">Нашли ошибку? Свяжитесь с нами!</div>
        <a href="https://t.me/huasket" class="contact-button" target="_blank">Telegram</a>
    </div>
    <footer>
        <p>&copy; 2024 Treform Team. All rights reserved. | <a href="https://github.com/Treform-Team" target="_blank">GitHub</a></p>
    </footer>
    <script src="static/script.js"></script>
</body>
</html>
